<html>
    <head>
        <title>our team</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">
            <h1 class="heading"><span>meet with us</span></h1>
            <div class="profiles">

                <div class="profile">
                    <img src="nil.jpg" class="profile-img">
                    <h3 class="user-name"><br>Niladitya Ghosh</h3>
                    <h5>Administrator and Technical expert</h5>
                    <p><br>Hey buddy! I am a final year college student. I am very glad to make this website for everyone to predict your future remarks.
                </div>

                <div class="profile">
                    <img src="chinu.jpg" class="profile-img">
                    <h3 class="user-name"><br>Chinmoy Ghosh</h3>
                    <h5>Model Creator and Subject expert</h5>
                    <p><br>Hey buddy! I am a final year college student.I make this machine learning model to next level for everyone to predict your future remarks.
                </div>

                <div class="profile">
                    <img src="subrata.png" class="profile-img">
                    <h3 class="user-name"><br>Subrata Saha</h3>
                    <h5>Project manager</h5>
                    <p><br>Hey buddy! I am a college final year student.I make this machine learning model to next level for you people to predict your future remarks.
                </div>

                <div class="profile">
                    <img src="soumya.png" class="profile-img">
                    <h3 class="user-name"><br>Soumyadeep Saha</h3>
                    <h5>Project assistant</h5>
                    <p><br>Hey buddy! I am a college final year student.I make this machine learning model to next level for you people to predict your future remarks.
                </div>
            
            </div>
        </div>
    </body>
</html>