<head>
  <!-- Compiled and minified CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./files/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>


<body>
  <div id="snackbar">Some text some message..</div>

  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="" href="#">Home <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class=" dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./files/campush.html">Careers



            </a>


            <a class=" dropdown-toggle dropdown-item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Question Paper</a>
            <div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item dorpdownA"
                  href="https://drive.google.com/drive/folders/1SqRGn0m772QsqueQ4FIH_g2vJtOC0DM2?usp=sharing">Information
                  technology</a>
              </div>





            </div>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <div>
    <div class="">

      <div class="jumbotron bg-cover text-white"
        style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.541) 0%,rgba(0, 0, 0, 0.63) 100%), url(.//files/navin.png)">
        <div class="container">
          <h1 class="">KNN</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p></p>

        </div>

      </div>
      <div class="indexDescription">
        <p class="">
        <h2>About</h2>
        <hr>
        <h4 style="font-style: italic ">
          It is a prediction system that show probabilistic result based on previous records or statistics.
          Accuracy of prediction student wise chances of getting supplementary can be
          manifested through this project.
          This project is built using k-nearest neighborhood algorithm of machine learning
        </h4>
        </p>
      </div>
      <div>
        <div>
          <form action="/result" method="POST">
            <div class="login-div">
              <div class="row">
                <div class="logo">
                  <img
                    src="https://www.pngkey.com/png/detail/96-967444_download-the-presentation-artificial-intelligence-ai-icon-png.png"
                    alt="" class="circle responsive-img">
                </div>
              </div>
              <div class="textIndex">
                <h5 class="h5ss">Enter your marks you got</h5><br>

              </div>
              <div class="inputNumberIndex">
                <label class="textOne">Enter your marks you got</label><br>
                <div class="input-field col s12">
                  <input type="number" name="first_sem" placeholder="1st sem marks" required="required" min="0"
                    max="100" />
                </div>
              </div>

              <div class="inputNumberIndex">
                <div class="input-field col s12">
                  <input type="number" name="second_sem" placeholder="2nd sem marks" required="required" min="0"
                    max="100" />
                </div>
              </div>

              <div class="">
                <button class="btn" type="submit">Submit</button>
                <div class="col s12">Prediction accuracy : around 92.5%</div>
              </div>
            </div>
        </div>
        </form>
      </div>
      <div>

        <!---->
        <footer class="bg-white">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#">Development</a></li>

                </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                  <li><a href="#">Company</a></li>
                  <li><a href="https://jisknn.000webhostapp.com/">Team</li>

                </ul>
              </div>

              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                    class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
                  href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright"> © 2020 KNN base Algorithem</p>
          </div>
        </footer>


</body>